
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="div">

</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/Scripts/Empleo.js"></script>
<p> <span></span></p>
<div>
    <table class="table table-bordered" id="tblEmpleo">
        <thead >
            <tr style="background:#171414; color:white">
                <th>Fecha de inscripcion</th>
                <th>Curso</th>
                <th>Sector</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody style="background:#b6adad">
          
        </tbody>
    </table>
</div>

